@page
@model RecruitCatShrivaty.Pages.OurTeamModel
@{
    <style>
        h5 {
            color:cornflowerblue
        }
    </style>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tanmay Shrivastava</h5>
                    <h4 class="card-title">IT Consultant , CEO </h4>
                    <p class="card-text">10+ Years experience in IT industry across multiple domains. Tanmay did his Masters in Information Systems from University of Cincinnati. Have strong technical background and clients across 36 countries. </p>
                    <div class="text-center">
                        <img src="~/images/Tanmay.jpg" class="rounded" alt="..."  >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Anurag Sharma</h5>
                    <h4 class="card-title">Marketing Consultant</h4>
                    <p class="card-text">Graduated from Harvard Business School, Anurag has successfully ventured more than 100 startups and continue to do so with his amazing marketing knowledge and experience. Anurag is also known for his passion for Music as he is a lead guitarist in a Band.</p>
                    <div class="text-center">
                        <img src="~/images/Anurag.jpg" class="rounded" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gaurav Yadav</h5>
                    <h4 class="card-title">HR Consultant</h4>

                    <p class="card-text">15 years of experience as Head HR in top firms such as Google, Microsoft and Apple. Gaurav is a top HR Consultant in USA. Graduated from Cornell University, Gaurav has alumni connections across the best brains in top Universities who have their successful startups.</p>
                    <div class="text-center">
                        <img src="~/images/Gaurav.jpg" class="rounded" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
