@page
@model RecruitCatShrivaty.Pages.JobTitles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Job Title</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobTitle.JobTitleName" class="control-label"></label>
                <input asp-for="JobTitle.JobTitleName" class="form-control" />
                <span asp-validation-for="JobTitle.JobTitleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.MinimumSalary" class="control-label"></label>
                <input asp-for="JobTitle.MinimumSalary" class="form-control" />
                <span asp-validation-for="JobTitle.MinimumSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.MaximumSalary" class="control-label"></label>
                <input asp-for="JobTitle.MaximumSalary" class="form-control" />
                <span asp-validation-for="JobTitle.MaximumSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.JobDescription" class="control-label"></label>
                <input asp-for="JobTitle.JobDescription" class="form-control" />
                <span asp-validation-for="JobTitle.JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JobTitle.IsPermanent" /> @Html.DisplayNameFor(model => model.JobTitle.IsPermanent)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
